In [282]:
import pandas as pd
import numpy as np

In [283]:
df = pd.read_json("purchase_data.json")
df.head()
list(df)

['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']

In [284]:
#player count
player_count = len(df["SN"].unique())
player_count

573

In [285]:
#Number of Unique Items
unique_items = len(df["Item Name"].unique())
unique_items

179

In [286]:
#Average Purchase Price
avg_price = df["Price"].mean()
avg_price

2.931192307692303

In [287]:
#Total Number of Purchases
total = len(df)
total

780

In [288]:
#Total Revenue
revenue = df["Price"].sum()
revenue

2286.33

In [289]:
#player_counts
player_demographics = df.loc[:, ['Gender', 'SN', 'Age']]
total_players = player_demographics.drop_duplicates()
num_player = total_players["Gender"].value_counts()
num_player

Male                     465
Female                   100
Other / Non-Disclosed      8
Name: Gender, dtype: int64

In [290]:
#player_percents
percents = num_player/player_count*100 
percents

Male                     81.151832
Female                   17.452007
Other / Non-Disclosed     1.396161
Name: Gender, dtype: float64

In [291]:
#Gender Demographics
gender_demo_df = pd.DataFrame({
    "Percentage of Total": percents,
    "Count": num_player
})
gender_demo_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo_df

                       Count  Percentage of Total
Male                     465            81.151832
Female                   100            17.452007
Other / Non-Disclosed      8             1.396161

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [292]:
gender_analysis = df[["SN", "Gender","Price"]]
counts_gender = gender_analysis["Gender"].value_counts()
counts_gender

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [293]:
purchases_gender = [counts_gender[0],counts_gender[1],counts_gender[2]]

gender_analysis = gender_analysis.groupby("Gender")
total_spent = gender_analysis.sum()
total_spent

                         Price
Gender
Female                  382.91
Male                   1867.68
Other / Non-Disclosed    35.74

In [294]:
total_purchase_gender = [total_spent.iloc[1,0], total_spent.iloc[0,0], total_spent.iloc[2,0]]
avg_purchase_gender = [total_spent.iloc[1,0]/revenue, total_spent.iloc[0,0]/revenue, total_spent.iloc[2,0]/revenue]
norm_purchase_gender = [total_spent.iloc[1,0]/counts_gender[0], total_spent.iloc[0,0]/counts_gender[1], total_spent.iloc[2,0]/counts_gender[2]]
norm_purchase_gender

[2.9505213270142154, 2.815514705882352, 3.2490909090909086]

In [295]:
#Gender Demographics Table
purchase_analysis_genders_df = pd.DataFrame({
    "Purchase Count": counts_gender,
    "Average Purchase Price": avg_purchase_gender,
    "Total Purchase Value": total_purchase_gender,
    "Normalized Purchase Value": norm_purchase_gender, 
    "Gender": ["Male", "Female", "Other / Non-Disclosed"]
})
purchase_analysis_genders_df = purchase_analysis_genders_df.set_index("Gender")
purchase_analysis_genders_df = purchase_analysis_genders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Purchase Value"]]

purchase_analysis_genders_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Purchase Value
Gender,,,,
Male,633,0.816890,1867.68,2.950521
Female,136,0.167478,382.91,2.815515
Other / Non-Disclosed,11,0.015632,35.74,3.249091

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [296]:
df2 = df[["SN","Age"]]
df2 = df2.drop_duplicates()

# Age count
age_10 = df2[df2["Age"] < 10].count()[0]
age_14 = df2[(df2["Age"] >= 10) & (df2["Age"] <= 14)].count()[0]
age_19 = df2[(df2["Age"] >= 15) & (df2["Age"] <= 19)].count()[0]
age_24 = df2[(df2["Age"] >= 20) & (df2["Age"] <= 24)].count()[0]
age_29 = df2[(df2["Age"] >= 25) & (df2["Age"] <= 29)].count()[0]
age_34 = df2[(df2["Age"] >= 30) & (df2["Age"] <= 34)].count()[0]
age_39 = df2[(df2["Age"] >= 35) & (df2["Age"] <= 39)].count()[0]
age_40 = df2[df2["Age"] >= 40].count()[0]
ages = [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40]

In [297]:
# Percents
percent_10 = round((age_10/player_count)*100,2)
percent_14 = round((age_14/player_count)*100,2)
percent_19 = round((age_19/player_count)*100,2)
percent_24 = round((age_24/player_count)*100,2)
percent_29 = round((age_29/player_count)*100,2)
percent_34 = round((age_34/player_count)*100,2)
percent_39 = round((age_39/player_count)*100,2)
percent_40 = round((age_40/player_count)*100,2)
percents_ages = [percent_10, percent_14, percent_19, percent_24, percent_29, percent_34, percent_39, percent_40]

In [298]:
purchase_10 = df[df["Age"] < 10].count()[0]
purchase_14 = df[(df["Age"] >= 10) & (df["Age"] <= 14)].count()[0]
purchase_19 = df[(df["Age"] >= 15) & (df["Age"] <= 19)].count()[0]
purchase_24 = df[(df["Age"] >= 20) & (df["Age"] <= 24)].count()[0]
purchase_29 = df[(df["Age"] >= 25) & (df["Age"] <= 29)].count()[0]
purchase_34 = df[(df["Age"] >= 30) & (df["Age"] <= 34)].count()[0]
purchase_39 = df[(df["Age"] >= 35) & (df["Age"] <= 39)].count()[0]
purchase_40 = df[df["Age"] >= 40].count()[0]
purchases_age = [purchase_10, purchase_14, purchase_19, purchase_24, purchase_29, purchase_34, purchase_39, purchase_40]
purchases_ages

[28, 35, 133, 336, 125, 64, 42, 17]

In [299]:
total_10 = df.loc[df['Age'] < 10, 'Price'].sum()
total_14 = df.loc[(df['Age'] >= 10) & (df['Age'] <=14), 'Price'].sum()
total_19 = df.loc[(df['Age'] >= 15) & (df['Age'] <=19), 'Price'].sum()
total_24 = df.loc[(df['Age'] >= 20) & (df['Age'] <=24), 'Price'].sum()
total_29 = df.loc[(df['Age'] >= 25) & (df['Age'] <=29), 'Price'].sum()
total_34 = df.loc[(df['Age'] >= 30) & (df['Age'] <=34), 'Price'].sum()
total_39 = df.loc[(df['Age'] >= 35) & (df['Age'] <=39), 'Price'].sum()
total_40 = df.loc[df['Age'] >= 40, 'Price'].sum()
totals_purchases_ages = [total_10, total_14, total_19, total_24, total_29, total_34, total_39, total_40]

In [300]:
# Average Purchase Price
avg_price_ages = [total_10/purchase_10, total_14/purchase_14, total_19/purchase_19, total_24/purchase_24, total_29/purchase_29,
              total_34/purchase_34, total_39/purchase_39, total_40/purchase_40]

# Normalized Totals
norm_purchase_ages = [total_10/age_10, total_14/age_14, total_19/age_19, total_24/age_24, total_29/age_29, total_34/age_34,
           total_39/age_39, total_40/age_40]

In [301]:
#Age Analysis
age_demographics= {
        "Percent of Players": percents_ages,
        "Total Count": ages,
        "Purchase Count": purchases_ages,
        "Average Purchase Price": avg_price_ages,
        "Total Purchase Value": totals_purchases_ages,
        "Normalized Totals": norm_purchase_ages}
    
# Creating DataFrame & setting index
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df.index = (["Less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demographics_df

,Average Purchase Price,Normalized Totals,Percent of Players,Purchase Count,Total Count,Total Purchase Value
Less than 10,2.980714,4.392632,3.32,28,19,83.46
10-14,2.770000,4.215217,4.01,35,23,96.95
15-19,2.905414,3.864200,17.45,133,100,386.42
20-24,2.913006,3.779035,45.20,336,259,978.77
25-29,2.962640,4.256667,15.18,125,87,370.33
30-34,3.082031,4.196809,8.20,64,47,197.25
35-39,2.842857,4.422222,4.71,42,27,119.40
40+,3.161765,4.886364,1.92,17,11,53.75

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [302]:
df3 = df[["SN","Price","Item Name"]]
total_spent = df3.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

In [303]:
# Top Spender SN
names = list(total_spent.index.values)
top_spenders = [names[0],names[1],names[2],names[3],names[4]]
top_spenders

['Undirrala66', 'Saedue76', 'Mindimnya67', 'Haellysu29', 'Eoda93']

In [304]:
#Purchase Counts
top_purchase_counts_1 = df3[df3["SN"] == names[0]].count()[0]
top_purchase_counts_2 = df3[df3["SN"] == names[1]].count()[0]
top_purchase_counts_3 = df3[df3["SN"] == names[2]].count()[0]
top_purchase_counts_4 = df3[df3["SN"] == names[3]].count()[0]
top_purchase_counts_5 = df3[df3["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1, top_purchase_counts_2, top_purchase_counts_3, top_purchase_counts_4,
                       top_purchase_counts_5]
top_purchase_counts

[5, 4, 4, 3, 3]

In [305]:
#Average Purchase Price
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1, avg_price_2, avg_price_3, avg_price_4, avg_price_5]
avg_prices

[3.412, 3.39, 3.1849999999999996, 4.243333333333333, 3.86]

In [306]:
#Total Purchase Value
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
                      total_spent.iloc[4,0]]
top_purchase_values

[17.06, 13.56, 12.739999999999998, 12.73, 11.58]

In [307]:
#Top Spenders Analysis
top_spenders_analysis = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_spenders
}



top_spenders_df = pd.DataFrame(top_spenders_analysis)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_spenders_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [308]:
#Popular Items
df4  = df[["Item ID" , "Item Name", "Price"]]
popular_items = df4.groupby("Item ID").count()
popular_items.sort_values(by = "Item Name", ascending = False, inplace = True)
df4 = df4.drop_duplicates(["Item ID", "Item Name"])
df4.head()

   Item ID                                  Item Name  Price
0      165                Bone Crushing Silver Skewer   3.37
1      119  Stormbringer, Dark Blade of Ending Misery   2.32
2      174                            Primitive Blade   2.46
3       92                               Final Critic   1.36
4       63                             Stormfury Mace   1.27

In [309]:
#Popular Item IDs
popular_item_ids = [popular_items.index[0], popular_items.index[1], popular_items.index[2], popular_items.index[3], popular_items.index[4]]
popular_item_ids

[39, 84, 31, 175, 13]

In [310]:
item_counts = [popular_items.iloc[0,0], popular_items.iloc[1,0], popular_items.iloc[2,0], popular_items.iloc[3,0], popular_items.iloc[4,0]]
item_counts

[11, 11, 9, 9, 9]

In [311]:
#Popular Item Names
name_1 = df4.loc[df4["Item ID"] == popular_item_ids[0], "Item Name"].item()
name_2 = df4.loc[df4["Item ID"] == popular_item_ids[1], "Item Name"].item()
name_3 = df4.loc[df4["Item ID"] == popular_item_ids[2], "Item Name"].item()
name_4 = df4.loc[df4["Item ID"] == popular_item_ids[3], "Item Name"].item()
name_5 = df4.loc[df4["Item ID"] == popular_item_ids[4], "Item Name"].item()
pop_item_names = [name_1, name_2, name_3, name_4, name_5]
pop_item_names

['Betrayal, Whisper of Grieving Widows',
 'Arcane Gem',
 'Trickster',
 'Woeful Adamantite Claymore',
 'Serenity']

In [312]:
# Item Prices
price_1 = df4.loc[df4["Item Name"] == pop_item_names[0], "Price"].item()
price_2 = df4.loc[df4["Item Name"] == pop_item_names[1], "Price"].item()
price_3 = df4.loc[df4["Item Name"] == pop_item_names[2], "Price"].item()
price_4 = df4.loc[df4["Item Name"] == pop_item_names[3], "Price"].item()
price_5 = df4.loc[df4["Item Name"] == pop_item_names[4], "Price"].item()
item_prices = [price_1,price_2,price_3,price_4,price_5]
item_prices

[2.35, 2.23, 2.07, 1.24, 1.49]

In [313]:
total_values = [popular_items.iloc[0,0]*price_1, popular_items.iloc[1,0]*price_2, popular_items.iloc[2,0]*price_3, 
                popular_items.iloc[3,0]*price_4, popular_items.iloc[4,0]*price_5]
total_values

[25.85, 24.53, 18.63, 11.16, 13.41]

In [314]:
pop_items_df = pd.DataFrame({
    "Item ID": popular_item_ids,
    "Item Name": pop_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values
})
pop_items_df = pop_items_df.set_index(["Item ID", "Item Name"])
pop_items_df = pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

pop_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [315]:
df4 = df[["Item ID", "Item Name", "Price"]]
profit_items = df4.groupby("Item ID").sum()
profit_items.sort_values(by = "Price", ascending = False, inplace = True)
df4 = df4.drop_duplicates(["Item ID", "Price"])

In [316]:
# Item IDs
item_ids = [profit_items.index[0], profit_items.index[1], profit_items.index[2], profit_items.index[3], profit_items.index[4]]

In [317]:
profit_name_1 = df4.loc[df4["Item ID"] == item_ids[0], "Item Name"].item()
profit_name_2 = df4.loc[df4["Item ID"] == item_ids[1], "Item Name"].item()
profit_name_3 = df4.loc[df4["Item ID"] == item_ids[2], "Item Name"].item()
profit_name_4 = df4.loc[df4["Item ID"] == item_ids[3], "Item Name"].item()
profit_name_5 = df4.loc[df4["Item ID"] == item_ids[4], "Item Name"].item()
profit_names = [profit_name_1, profit_name_2, profit_name_3, profit_name_4, profit_name_5]

In [318]:
#Total Purchase Value
values = [profit_items.iloc[0,0],profit_items.iloc[1,0],profit_items.iloc[2,0],profit_items.iloc[3,0],profit_items.iloc[4,0]]

# Item Price
profit_price_1 = df4.loc[df4["Item ID"] == item_ids[0], "Price"].item()
profit_price_2 = df4.loc[df4["Item ID"] == item_ids[1], "Price"].item()
profit_price_3 = df4.loc[df4["Item ID"] == item_ids[2], "Price"].item()
profit_price_4 = df4.loc[df4["Item ID"] == item_ids[3], "Price"].item()
profit_price_5 = df4.loc[df4["Item ID"] == item_ids[4], "Price"].item()
profit_prices = [profit_price_1,profit_price_2,profit_price_3,profit_price_4,profit_price_5]

In [320]:
# Purchase counts
df5 = df[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
count_1 = df5.loc[df5.index == profit_names[0], "Item ID"].item()
count_2 = df5.loc[df5.index == profit_names[1], "Item ID"].item()
count_3 = df5.loc[df5.index == profit_names[2], "Item ID"].item()
count_4 = df5.loc[df5.index == profit_names[3], "Item ID"].item()
count_5 = df5.loc[df5.index == profit_names[4], "Item ID"].item()
counts = [count_1, count_2, count_3, count_4, count_5]

In [322]:
# Creating DataFrame & setting index
profit_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": profit_names,
    "Purchase Count": counts,
    "Item Price": profit_prices,
    "Total Purchase Value": values
})
profit_items_df = profit_items_df.set_index(["Item ID", "Item Name"])
profit_items_df = profit_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

profit_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88

**Observable Trends**

1.  Although men make up the majority of the purchases of all games, the normalized amount spent per game is actually higher for those in the Other/Non Disclosed category by around 0.29 cents per game.

2. There was no overlap in games amongst the most profitable and the most popular, even though Retribution Axe also had 9 purchases.  This might be because the games are listed n random or alphabetical order leaving Retribution Axe excluded from the popular game data set.

3. Majority of game purchases are done by people under the age of 25, even though people over 40 spent more on an average purchase.